.sidebar {
  height:100vh;
  flex: 0.1;
  color:white;

  min-width: 230px;
  background-color: #040404;
  
 
  
  position: fixed;
  bottom: 0;
  left: 0;
}

.logo{
    margin-top:20px;
    display: flex;
    margin-right: auto;
    height: 70px;
    padding:10px;
  
}

.sidebar__title {
    text-align: left;
    margin-left: 5px;
    padding: 5px;
    font-size: 12px;
  }